*{
  margin: 0;
   padding: 0;
   font-family: 'poppins' sans-serif;
   box-sizing: border-box;
}
/*nwv styling*/
body{
  background: #F0F8FF;
}

p{
  line-height: 1.5;
  letter-spacing: 0.5px;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   align-items: right;
   width: 100%;
   background: #F0F8FF;
  padding: 10px;
  font-family: "Raleway", serif;

}
.nav  h2, .logo{
  padding: 13px;

}
nav h2{
  line-height: 1.2;
  letter-spacing: 0.02em;
}
nav img{
   height: 45px;
   width: 45px;
   border-radius: 45px;
}
nav ul{
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   list-style: none;
   width: min-content;
   padding: 15px;
 }
 nav a{
   text-decoration: none;
   color: black;
   font-weight: 700;
   
 }

/*hero section styling*/
.icons{
  display: flex;
  gap: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-section {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100vh;
   padding: 0 15px;
   max-width: 1200px;
   margin: 0 auto;
  
 }
 .hero-section .hero {
   max-width: 50%;
   color: black;
   font-family: "Noto Sans", serif;
 }
 .hero h2 {
   font-size: 2.5rem;
 }
 .hero p {
   font-size: 1.0rem;
   margin-bottom: 20px;
   color: black;
 }
 .hero-section .img img {
   width: 517px;
 }
 .hero-section .buttons {
   margin-top: 10px;
 }
 .hero-section .buttons a {
   text-decoration: none;
   color: white;
   padding: 10px;
   border-radius: 12px;
   font-weight: 200;
   transition: 0.2s ease;
   display: inline-block;
 }
 .hero-section .buttons a:not(:last-child) {
   margin-right: 15px;
 }
 .buttons .about {
   background-color: #0E2431;
 }

 .hero-section .buttons a:hover {
   background-color: skyblue;
 }

/*Skills and tools styling*/
section h2{
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 10px;
  margin-bottom: 13px;
}

section .tools{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20%;
  margin-right: 20%;
  height: 25vh;

}
section .tools img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


section .skills{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  height: 25vh;

}
section .skills img{
  height: 100%;
  width: 100%;
  
  object-fit: cover;
}

 /*Projects*/
 .card-list{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   max-width: 1250px;
   margin: 40px auto;
   padding: 20px;
   gap: 20px;
   margin-top: 20px;

 }
 .card-list .card-item{
   background: #F0F8FF;
   padding: 26px;
   border-radius: 8px;
   box-shadow: 0 5px 10px rgb(122, 120, 120);
   list-style: none;
   text-decoration: none;
   border: 2px solid transparent;
   transition: border 0.5s ease;

 }

 .card-list .card-item img{
   width: 100%;
   border-radius: 8px;
   object-fit: cover;
 }
 .card-list span{
   display: inline-block;
   font-weight: 400;
  
 }
 .card-item h3{
   color: black;
   font-size: 1.4rem;
   margin-top: 28px;
   font-weight: 600;


 }
 .card-item p{
  font-family: "Open Sans", serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 10px;

 }
 .card-item .log{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
   width: 70px;
   color: black;
   border-radius: 50%;
   margin-top: 40px;
   transition: 0.2s ease;
  

 }
 .card-item a{
   margin-bottom: 5px;
 }
 .card-list .card-item:hover .log{
   background: white;
   color: black;

 }
 .title h2{
   text-align: center;
   margin-top: 10px;
   letter-spacing: 0.02em;
   line-height: 1.2;
 }
/*about section*/
 section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}

section  .topic{
  color: #0E2431;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Italianno", serif;
}
.about-details .right p{
  font-family: "Open Sans", serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 400;
  background: #0E2431;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}
section .button button:hover{
  background-color: black;
  color: #fff;
}

/*footer*/
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #F0F8FF;
  color: black;
}
/*responsive designing*/
 @media screen and (max-width: 1023px) {
  
   .hero-section .hero {
     max-width: 100%;
     text-align: left;
   }
   .hero-section .img img {
       display: none;
     }
     .hero-section{
       background: url("/Media/Gemini_Generated_Image_hzlezshzlezshzle.jpeg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       
     }
    .card-list .card-item{
     padding: 15px;
    }
     section .content{
    width: 85%;
  }
  section .content{
    width: 85%;
  }
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
 

}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

 @media screen and (max-width: 750px) {

  .card-list{
   margin: auto;
  }
 }
