*{
  margin: 0;
   padding: 0;
   font-family: 'poppins' sans-serif;
}
/*nav styling*/
body{
  background: #0E2431;
  color: lightslategray;
  overflow-x: hidden;
}

p{
  line-height: 1.5;
  letter-spacing: 0.5px;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   align-items: right;
   width: 100%;
   background: #0E2431;
   color:#00bfff;
  padding: 10px;
  font-family: "Raleway", serif;

}
.nav  h2, .logo{
  padding: 13px;
  color: #00bfff;

}
nav h2{
  line-height: 1.2;
  letter-spacing: 0.02em;
}

nav ul{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   list-style: none;
   width: min-content;
   padding: 15px;
   color: #00bfff;
 }
 nav a{
  display: inline-flex;
   text-decoration: none;
   color: black;
   font-weight: 700;
   color: #00bfff;
   
 }
 nav button{
  border-radius: 2px;
  border: 1px solid #00bfff;
  padding: 5px;
  font-weight: 700;
  background: #0E2431;
  color: #00bfff;
 }

/*hero section styling*/

.icons{
  display: flex;
  gap: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-section {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  max-width:  100%;  
  gap: 30px;
  height: 100vh;
  overflow: hidden;
 }
 .hero-section .socials{
  margin-top: auto;
  bottom: 25px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
 }

 
 .line {
  width: 1px; 
  height: 150px; 
  background-color: #a6b2c7; 
}

 .hero-section .hero {
  overflow: auto;
  display: flex;
  align-items: center;
  margin-left: 20%;
  max-width:80%;
  padding: 10px;
  color: #F0F8FF;
  font-family: "Noto Sans", serif;
  margin-top: 2spx;
 }
 .hero h2 {
   font-size: 2.5rem;
   width: 70%;
 }

 .hero h2 span{
  font-size: 2.5rem;
  color: grey;
}
 .hero p {
   font-size: 1.0rem;
   margin-bottom: 20px;
   color: #F0F8FF;
 }

 .hero-section .buttons {
   margin-top: 10px;
 }
 .hero-section .buttons a {
   text-decoration: none;
   color: white;
   padding: 10px;
   border-radius: 12px;
   font-weight: 200;
   transition: 0.2s ease;
   display: inline-block;
 }
 .hero-section .buttons a:not(:last-child) {
   margin-right: 15px;
 }

 .hero-section .buttons a:hover {
   background-color: skyblue;
 }

/*Skills and tools styling*/
section h2{

  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 10px;
  margin-bottom: 13px;
}
.skills{
  display: flex;
  padding: 20px;
  width: 80%;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}
.skills .img{
  max-width: 50%;
}
.skills .img img{

    display: block;
    width: 400px; 
    height: 400px;
    z-index: 2; 

}

.skills .tools{
  max-width: 50%;
}
.skills .tools ul{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}
.skills .tools ul li{
  list-style: none;
}
.skills .tools ul img{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  display: block;
  object-fit: cover;
  margin-bottom: 17px;
}



 /*Projects*/
 .card-list{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   max-width: 1250px;
   margin: 40px auto;
   padding: 20px;
   gap: 20px;
   margin-top: 20px;

 }
 .card-list .card-item{
   background: #0E2431;
   padding: 26px;
   border-radius: 8px;
   box-shadow: 0 5px 10px #00bfff;
   list-style: none;
   text-decoration: none;
   border: 2px solid transparent;
   transition: border 0.5s ease;

 }

 .card-list .card-item img{
   width: 100%;
   border-radius: 8px;
   object-fit: cover;
 }
 .card-list span{
   display: inline-block;
   font-weight: 400;
  
 }
 .card-item h3{
   color: black;
   font-size: 1.4rem;
   margin-top: 28px;
   font-weight: 600;


 }
 .card-item p{
  font-family: "Open Sans", serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 10px;

 }
 .card-item .log{
   display: flex;
   display: inline-flex;
   align-items: center;
   color: black;
   border-radius: 50%;
   margin-top: 40px;
   transition: 0.2s ease;
  
 }
 .card-item .log button{
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #00bfff;
  padding: 10px;
  font-weight: 700;
  background: #0E2431;
  color: #F0F8FF;

 }
 .card-item a{
   margin-bottom: 5px;
   color: #F0F8FF;
   text-decoration: none;
 }
 .card-list .card-item:hover .button{
   background: white;
   color: black;

 }
 .title h2{
  text-align: left;
   margin-top: 10px;
   letter-spacing: 0.02em;
   line-height: 1.2;
 }
/*about section*/

section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  position: relative;
  display: inline-block;
  width: 45%;
}

.about .left img{
  display: block;
    border-radius: 12px; 
    width: 400px; 
    height: auto;
    z-index: 0; 
    position: relative;
}

.about-details .right{
  width: 55%;
}

section  .topic{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "Noto Sans", serif;

}
.about-details .right p{
  font-family: "Open Sans", serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: justify;
  color: lightslategray;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 400;
  background: #0E2431;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}
section .button button:hover{
  background-color: black;
  color: #fff;
}

/*footer*/
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #0E2431;
  color: #00bfff;
}
/*responsive designing*/
 @media screen and (max-width: 1023px) {
  
   .hero-section .hero {
     max-width: 100%;
     text-align: left;
   }
   .hero-section .img img {
       display: none;
     }
     .hero-section{
       background: url("/Media/Gemini_Generated_Image_hzlezshzlezshzle.jpeg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       
     }
    .card-list .card-item{
     padding: 15px;
    }
     section .content{
    width: 85%;
  }
  section .content{
    width: 85%;
  }
 
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
 

}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

 @media screen and (max-width: 750px) {

  .card-list{
   margin: auto;
  }
 }
 @media (max-width: 1152px) {
  /*nav reponsive styling*/
  nav{
    width: 100%;
    padding: 5px;
    overflow-x: hidden;
  }

  h2,
  .logo{
    padding: 5px;
    font-size: 1.5rem;
  }
  nav h2{
    line-height: 1;
    letter-spacing: 0.01rem;
  }
  nav ul{
    gap: 10px;
    padding: 10px;
    
  }
  
  /*hero responsive styling*/
  .hero-section{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 5px;
    overflow-x: hidden;
  }

  .hero-section .socials{
    gap: 2px;
    margin-left: 10px;
  }

  .hero-section .hero{
    margin-left: 5px;
    max-width: 95%;
    padding: 5px;
    
  }
  section topic{
    font-size: 1rem;
  }

  .hero h2{
    font-size: 1.5rem;
    width: 90%;
  }

  .hero h2 span{
    font-size: 1.5rem;
  }
/*skills responsive styling*/
  section h2{
    line-height: 1;
    letter-spacing: 0.01rem;
    margin-top: 5px;
    margin-bottom: 7px;

  }

  body{
    overflow-x: hidden;
  }

  .about-details .right p{
    letter-spacing: 0.03em;
  }

  .skills{
    display: flex;
    gap: 0;
    padding: 10px;
    align-items: center;
    max-width: 100%;
    margin: 10px auto; 
    overflow-x: hidden;
    justify-content: center;
  }

  .skills .img{
    display: none;

  }
  
  .skills .tools ul{
    gap: 7px;
    max-width: 100%;
  }
  .skills .tools{
    padding: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .skills .tools ul img{
    height: 40px;
    width: 40px;
    border-radius: 40%;
    margin-bottom: 10px;


  }
  footer{
    max-width: 100%;
    overflow-x: hidden;
  }





 }
